:root {
    --tndr-bg-dark: oklch(0% 0 0);
    --tndr-bg: oklch(15.907% 0.00002 271.152);
    --tndr-bg-light: oklch(21.779% 0.00002 271.152);
    --tndr-text: oklch(96.115% 0.00011 271.152);
    --tndr-text-muted: oklch(76.676% 0.00009 271.152);
    --tndr-border: oklch(42.024% 0.00005 271.152);
    --tndr-highlight: oklch(68.295% 0.00008 271.152);
    --tndr-gradient: linear-gradient(0deg, var(--tndr-bg) 95%, var(--tndr-bg-light));
    --tndr-gradient-hover: linear-gradient(0deg, var(--tndr-bg), var(--tndr-bg-light));
    --tndr-shadow: 0px 2px 2px oklch(0% 0 0 / 0.07), 0px 4px 4px oklch(0% 0 0 / 0.15);
}

body.light {
    --tndr-bg-dark: oklch(92.494% 0.00011 271.152);
    --tndr-bg: oklch(96.115% 0.00011 271.152);
    --tndr-bg-light: oklch(100% 0.00011 271.152);
    --tndr-text: oklch(15.907% 0.00002 271.152);
    --tndr-text-muted: oklch(42.024% 0.00005 271.152);
}

body {
    background: var(--tndr-bg-dark);
    color: var(--tndr-text-muted);
}

button {
    background-color: var(--tndr-bg-light);
    border-radius: 1rem;
    border: 1px solid var(--tndr-border);
    border-top: 1px solid var(--tndr-highlight);
    box-shadow: var(--tndr-shadow);
}

div.styled, article {
    background: var(--tndr-gradient);
    border-radius: 1rem;
    border: 1px solid var(--tndr-border);
    border-top: 1px solid var(--tndr-highlight);
    box-shadow: var(--tndr-shadow);

}